@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Island+Moments&family=Lobster&family=Poppins:wght@100;500&family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
       
}
header{
    background-color: #FFFBF0;
}
.span-text{
    color: #FABE4C;
}
.buttion{
    border-radius: 5px;
    background-image: linear-gradient(rgb(16, 97, 16),rgb(16, 97, 16));
    color: white;
    padding: 5px 10px;
    outline: none;
    border: none;
}
.prize{
    background-color:  #FABE4C;
    width: 25%;
    border-radius: 5px;
}
.buttion a{
    text-decoration: none;
    color: #fff;
    
}
footer{
    background-color: black;
    height: 150px;
}